In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('moment.csv')
df1 = pd.read_csv('moment-details.csv')

In [10]:
df.shape

(35, 21)

In [11]:
df1.shape

(42, 11)

In [12]:
df['comment_id'].shape

(35,)

In [13]:
df1['comment_id'].shape

(42,)

In [20]:
df3 = df1.set_index('comment_id').join(df.set_index('comment_id'))

In [21]:
del df3['MOM1CHAR']

In [22]:
df3.shape

(42, 29)

In [23]:
df3.head()

,MOM.STARTBAR,MOM.STARTBEAT,MOM.ENDBAR,MOM.ENDBEAT,MOM.CELLO,MOM.PIANOLEFT,MOM.PIANORIGHT,heard,played,role,...,sentiment,trial_categories,rater1_reassigned,rater2_reassigned,rater1_raw,rater2_raw,commentator_instrument,rater1,rater2,agreement
comment_id,,,,,,,,,,,,,,,,,,,,,
MOM1CHAR.01,67,3,68,2,1,0,1,yes,yes,Performing pianist,...,neg,judgement of collaboration,5.0,5.0,5.0,5.0,Performing pianist,Performing cellist,Non-performing cellist,diff
MOM1CHAR.02,1,1,10,2,1,1,1,yes,yes,Performing cellist,...,neg,judgement of interpretation,1.0,4.0,1.0,4.0,Performing cellist,Performing pianist,Non-performing pianist,diff
MOM1CHAR.03,17,3,17,4,1,1,1,yes,yes,Non-performing pianist,...,neg,judgement of collaboration,5.0,3.0,5.0,3.0,Non-performing pianist,Non-performing cellist,Performing cellist,same
MOM1CHAR.04,27,2,35,3,1,1,1,yes,yes,Non-performing cellist,...,neg,judgement of collaboration,2.0,5.0,2.0,5.0,Both,Non-performing pianist,Performing pianist,same
MOM1CHAR.05,17,3,17,4,1,?,?,no,no,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df3.to_csv('moment_all',index=True)